body {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

#loading-screen {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
}

.overlay-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-animation {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#sideBar {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #dfdfdfca;
  top: 100%;
  transition: 0.5s;
}

.sideBar-inner {
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideBar-inner .sideBar-header li {
  position: relative;
}
.logo {
  width: 50px;
}

.meals:hover .meal-layer {
  top: 0;
}

.sideBar-inner .sideBar-header li,
#sideBar i,
.meals {
  cursor: pointer;
}